---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Also available on <a href="{{site.author.googlescholar}}">Google Scholar</a>.</div>
{% endif %}

{% include base_path %}

{% assign pubs = site.publications | sort: "date" | reverse %}
{% if pubs and pubs.size > 0 %}
  <p>Peer-reviewed and conference publications.</p>
  {% for post in pubs %}
    {% include archive-single.html %}
  {% endfor %}
{% else %}
  <p>No publications available yet.</p>
{% endif %}
